In [1]:
import pandas as pd
from arch_comp_moonlight.utils import merge_results

In [2]:
# MERGED_FILE = 'Moonlight_TuRBO_ARCH2024.csv'
MERGED_FILE = None
df = merge_results('output/**/*.csv', to_file=MERGED_FILE)
df["R"] = df["simulation_time"] / df["total_time"] * 100
df

,instance,system,property,simulations,stop_time,robustness,falsified,simulation_time,total_time,input,R
0,2,PM,PM,300,10.0,1.000000,no,65.738576,96.411930,[0.0 86.00610977526183; 0.01 86.00610977526183...,68.185106
1,2,PM,PM,300,10.0,1.000000,no,67.220468,87.822919,[0.0 63.605800025122825; 0.01 63.6058000251228...,76.540917
2,2,PM,PM,300,10.0,1.000000,no,119.743596,141.402002,[0.0 65.56773540745142; 0.01 65.56773540745142...,84.683098
3,2,PM,PM,300,10.0,1.000000,no,67.774026,87.275559,[0.0 50.586762259995716; 0.01 50.5867622599957...,77.655219
4,2,PM,PM,300,10.0,1.000000,no,67.339283,87.489860,[0.0 67.80384837082383; 0.01 67.80384837082383...,76.968101
...,...,...,...,...,...,...,...,...,...,...,...
65,1,NN,NN,32,40.0,-0.000102,yes,26.302481,51.719347,[0.0 2.4750972942137928; 0.01 2.47509729421379...,50.856174
66,1,NN,NN,5,40.0,-0.004179,yes,11.395203,29.594700,[0.0 2.7888354670110673; 0.01 2.78883546701106...,38.504202
67,1,NN,NN,21,40.0,-0.000656,yes,21.102443,45.189814,[0.0 2.8419949647421925; 0.01 2.84199496474219...,46.697344
68,1,NN,NN,42,40.0,-0.005910,yes,31.630413,53.223623,[0.0 1.0089698964374765; 0.01 1.00896989643747...,59.429274
69,1,NN,NN,64,40.0,-0.005198,yes,43.722517,68.562714,[0.0 2.0079438606070203; 0.01 2.00794386060702...,63.770108

In [3]:
def falsification_rate(series: pd.Series) -> float:
    return (series == "yes").sum()

df2 = df.groupby(['instance', 'system', 'property']).agg({ # type: ignore
    'simulations': ['mean', "median"],
    'R': 'mean',
    'falsified': falsification_rate
})

df2

                         simulations                 R          falsified
                                mean median       mean falsification_rate
instance system property
1        F16    F16             21.0   19.0  81.501326                 10
         NN     NN              26.8   22.0  48.565514                 10
                NNx            142.7  128.0  36.194711                  9
         PM     PM             301.3  300.0  72.570192                  0
2        NN     NN              48.0   32.0  64.125653                 10
                NNx            300.0  300.0  57.594500                  0
         PM     PM             300.4  300.0  77.338481                  0